<form class="ui form segment" method="post">
    {% if errors is not empty %}
        <div class="ui message">
            <div class="header">Action Forbidden</div>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <input type="hidden" name="movement[id]" value="{{ entity.id }}"/>

    <div class="field">
        <label>Date</label>
        <input placeholder="Date" type="date" name="movement[date]" value="{{ entity.date|date('Y-m-d') }}">
    </div>
    <div class="field">
        <label>Amount</label>
        <input placeholder="Amount" type="number" step="0.00" name="movement[amount]" value="{{ entity.amount.value }}">
    </div>
    <div class="field">
        <label>Name</label>
        <input placeholder="Name" type="text" name="movement[name]" value="{{ entity.name }}">
    </div>
    <div class="field">
        <label>Description</label>
        <textarea name="movement[description]" placeholder="Some description">{{ entity.description }}</textarea>
    </div>
    <button type="submit" class="ui blue submit button">Save</button>
</form>