{% extends 'base.html.twig' %}

{% block content %}

    <table class="ui table segment">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% if entities is defined %}
            {% for entity in entities %}
                <tr>
                    <td><a href="/movements/edit/{{ entity.id }}">{{ entity.id }}</a></td>
                    <td>{{ entity.date|date('Y-m-d') }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.amount }}</td>
                </tr>
            {% endfor %}

            <tfoot>
            <tr><th>Total</th>
                <th></th>
                <th></th>
                <th>{{ entities.grandTotal }}</th>
            </tr></tfoot>
        {% endif %}
        </tbody>
    </table>
{% endblock %}